# Ignore files for distribution archives.

.circleci                 export-ignore
.gitattributes            export-ignore
.gitignore                export-ignore
.gitempty                 export-ignore
tests                     export-ignore
